/* ###### */
/* GLOBAL */
/* ------ */

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 1px dotted hotpink;
}

:root {
  --clr-neutral-dark: #171717;
  --clr-neutral-white: #fff;
  --clr-accent: #59E89C;
}

body {
  color: var(--clr-neutral-dark);
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
p { margin-top: 0; }

h1 {
  font-size: 2.25rem;
  font-weight: normal;
}

.a-btn-hero { font-size: 1.125rem; }
